In [1]:
import pandas as pd
my_df = pd.DataFrame({"country":["Spain", "Spain", "Spain", "Spain", "Spain"], "City": ["Madrid", "Madrid", "Madrid", "Galicia", "Galicia"], "Numbers":[3,4,5,7,9]})
my_df

  country     City  Numbers
0   Spain   Madrid        3
1   Spain   Madrid        4
2   Spain   Madrid        5
3   Spain  Galicia        7
4   Spain  Galicia        9

In [ ]:
#Calculamos promedio de Numbers agrupado por ciudad
my_df.groupby("City")["Numbers"].mean()

City
Galicia    8.0
Madrid     4.0
Name: Numbers, dtype: float64

In [7]:
#Calculamos pel m√≠nimo Numbers agrupado por ciudad
my_df.groupby("City")["Numbers"].min()

City
Galicia    7
Madrid     3
Name: Numbers, dtype: int64

In [ ]:
my_list = [7,9,11,13,15]
for i in my_list:
    print(i)